.container{
    @include container;
    // align-items: center;
    .logo{
        img{
            height: 80px;
        }
    }
    .form-content{
        width: 500px;
        height: auto;
        background-color: $white;
        box-shadow: 4px 3px 3px #9a9999,4px 3px 3px #a8a7a7;
        padding: 20px;
        .form-header--content{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 0 30px 0;
            h1{
                font-size: 25px;
            }
        }
        #signup{
            .name-group{
                width: 100%;
                display: flex;
                gap: 10px;
                .name-group-field{
                    width: 100%;
                    .name-group-field-text{
                        width: 100%;
                        @include text-field;
                    }
                }
            }
            .email{
                margin: 10px 0;
                .mail{
                    @include text-field;
                }
            }
            .password{
                margin: 10px 0;
                .password-signup{
                    @include text-field;
                }
            }
            .dob-text, .gender{
                font-size: 13px;
                margin: 10px 4px 30px 0;
            }
            i{
                font-size: 14px;
                color: #444;
            }
        }
    }
}