<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <footer>
        <div class="country">
            <ul class="country-list">
                <li>Tiếng Việt</li>
                <li>
                    <a href="https://en-gb.facebook.com/">English (UK)</a>
                </li>
                <li>
                    <a href="https://zh-tw.facebook.com/">中文(台灣)</a>
                </li>
                <li><a href="https://ko-kr.facebook.com/">한국어</a></li>
                <li><a href="https://ja-jp.facebook.com/">日本語</a></li>
                <li>
                    <a href="https://fr-fr.facebook.com/"
                        >Français (France)</a
                    >
                </li>
                <li><a href="https://th-th.facebook.com/">ภาษาไทย</a></li>
                <li><a href="https://es-la.facebook.com/">Español</a></li>
                <li>
                    <a href="https://pt-br.facebook.com/"
                        >Português (Brasil)</a
                    >
                </li>
                <li><a href="https://de-de.facebook.com/">Deutsch</a></li>
                <li><a href="https://it-it.facebook.com/">Italiano</a></li>
                <li>
                    <a href="#" title="Hiển thị thêm ngôn ngữ"><i></i></a>
                </li>
            </ul>
        </div>
        <div class="spacer"></div>
        <div class="policy">
            <ul class="policy-items">
                <div class="line-1">
                    <li><a href="/reg/" title="Đăng nhập Facebook">Đăng nhập</a></li>
                    <li><a href="/reg/" title="Đăng ký Facebook">Đăng ký</a></li>
                    <li><a href="https://messenger.com/" title="Xem Messenger.">Messenger</a></li>
                    <li><a href="/lite/" title="Facebook Lite dành cho Android.">Facebook Lite</a></li>
                    <li><a href="https://www.facebook.com/watch/"title="Lướt xem trong tab Video">Video</a></li>
                    <li><a href="/places/"title="Xem những địa điểm nổi tiếng trên Facebook." >Địa điểm</a></li>
                    <li><a href="/marketplace/"title="Mua bán trên Facebook Marketplace.">Marketplace</a></li>
                    <li><a href="https://pay.facebook.com/"title="Meta Pay"target="_blank">Meta Pay</a></li>
                </div>
                <div class="line-2">
                    <li><a href="https://www.meta.com/"title="Thanh toán qua Meta"target="_blank">Cửa hàng trên Meta</a></li>
                    <li><a href="https://www.meta.com/quest/"title="Tìm hiểu thêm về Meta Quest"target="_blank">Meta Quest</a></li>
                    <li><a href="https://www.meta.ai/" title="Meta AI">Meta AI</a>
                    </li>
                    <li><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2F&amp;h=AT0XjfunvwdtsxImYgxjox-HC391EPIZzexBaFyDy8e-xa_9Ocbwq-dpzLbT7VW4bIhYPZth9qvPIz57mlai5YN5jUaM_c3Tru3e5JPOgTheHtzAOqOKsRr7jEb9tDsPYkBfMU9gM5aiEcd5AH33ww">Instagram</a></li>
                    <li><a href="https://www.threads.net/" title="Khám phá Threads">Threads</a></li>
                    <li><a href="/fundraisers/" title="Quyên góp.">Chiến dịch gây quỹ</a>
                    </li>
                    <li><a href="/biz/directory/" title="Lướt Facebook của chúng tôi.">Dịch vụ</a>
                    </li>
                </div>
                <div class="line-3">
                    <li><a href="/votinginformationcenter/?entry_point=c2l0ZQ%3D%3D"title="Xem Trung tâm thông tin bỏ phiếu.">Trung tâm thông tin bỏ phiếu</a></li>
                    <li><a href="/privacy/policy/?entry_point=facebook_page_footer"title="Tìm hiểu cách chúng tôi thu thập, sử dụng và chia sẻ thông tin để hỗ trợ Facebook.">Chính sách quyền riêng tư</a></li>
                    <li><a href="/privacy/center/?entry_point=facebook_page_footer"title="Tìm hiểu cách quản lý và kiểm soát quyền riêng tư trên Facebook.">Trung tâm quyền riêng tư</a></li> <li><a href="/groups/discover/" title="Khám phá nhóm.">Nhóm</a></li>
                <li><a href="https://about.meta.com/" >Giới thiệu</a></li>
                <li><a href="/ad_campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;nav_source=unknown&amp;extra_1=auto"title="Quảng cáo trên">Tạo quảng cáo</a></li>
                </div>

                <div class="line-4">
                    <li><a href="/pages/create/?ref_type=site_footer"title="Tạo Trang">Tạo Trang</a></li>
                    <li><a href="/careers/?ref=pf"title="Tạo bước ngoặt mới trong sự nghiệp của bạn với công ty tuyệt vời của chúng tôi">Tuyển dụng</a></li>
                    <li><a href="/policies/cookies/"title="Tìm hiểu về cookie và Facebook.">Cookie</a></li>
                    <li><a>Lựa chọn quảng cáo</a></li>
                    <li><a href="/policies?ref=pf" title="Xem lại điều khoản">Điều khoản</a></li>
                    <li><a href="/help/?ref=pf" title="Truy cập Trung tâm trợ giúp">Trợ giúp</a></li>
                    <li>
                        <a href="help/637205020878504" title="Xem Thông báo Tải thông tin liên hệ lên &amp; đối tượng không phải người dùng.">Tải thông tin liên hệ lên &amp; đối tượng không phải người dùng</a>
                    </li>
                </div>
            </ul>
        </div>
    </footer>
</body>
</html>