* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  box-shadow: 0 3px 3px #ccc;
}
header .header-logo h1 {
  font-size: 35tpx;
  color: #0866FF;
}
header .heade-login input {
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #b3b1b1;
  padding: 12px 16px;
  margin: 0 5px;
}
header .heade-login input:focus {
  border: 1px solid #1221c5;
}
header .header-login--btn {
  padding: 12px 17px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #0866ff;
  color: #fff;
  font-weight: 700;
  margin: 0 5px;
}
header a {
  text-decoration: none;
  color: #0866ff;
  margin: 0 10px;
}

.container {
  width: 100%;
  height: 70vh;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form {
  width: 530px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.container form .form-label {
  width: 100%;
  padding: 20px;
}
.container form .form-label h1 {
  font-size: 1.5rem;
  color: #162643;
}
.container form .spacer {
  width: 100%;
  height: 1px;
  background-color: #ababab;
  margin-bottom: 20px;
}
.container form .message {
  display: none;
  margin: 0 20px;
  border: 1px solid #dd3c10;
  padding: 10px;
  background-color: #ffebe8;
}
.container form .message .message-heading {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0;
}
.container form .message .message-des {
  font-size: 13px;
}
.container form .main-form {
  width: 100%;
  padding: 0 20px;
}
.container form .main-form .form-des {
  margin: 20px 0;
  color: #000;
}
.container form .main-form .input-group {
  margin: 20px 0;
  width: 100%;
}
.container form .main-form .input-group input {
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 16px;
  border: 1px solid rgba(176, 176, 176, 0.8);
}
.container form .form-button {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 20px;
  gap: 10px;
}
.container form .form-button .cancel {
  border: none;
  outline: none;
}
.container form .form-button .cancel a {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #ccc;
  color: #252525;
  border-radius: 5px;
  font-weight: 700;
}
.container form .form-button .search {
  padding: 10px 20px;
  background-color: #0866ff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 700;
}

footer {
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  padding: 10px 0;
}
footer .country-list {
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
}
footer .country-list li {
  padding: 5px 5px;
}
footer .country-list li a {
  text-decoration: none;
  color: #000;
}
footer .spacer {
  margin: 10px 0;
  width: 70%;
  border: 1px solid #ccc;
}
footer .policy-items {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  flex-direction: column;
  padding: 0 10px;
}
footer .policy-items .line-1, footer .policy-items .line-2, footer .policy-items .line-3, footer .policy-items .line-4 {
  display: flex;
  text-align: center;
  margin: 2px 10px;
}
footer .policy-items .line-1 li, footer .policy-items .line-2 li, footer .policy-items .line-3 li, footer .policy-items .line-4 li {
  display: block;
  padding: 0 5px;
}
footer .policy-items .line-1 li a, footer .policy-items .line-2 li a, footer .policy-items .line-3 li a, footer .policy-items .line-4 li a {
  color: #000;
  text-decoration: none;
}

/*# sourceMappingURL=forget.css.map */
